@charset "UTF-8";

@import "../config/theme";

/* ranking */
.section-ranking {
  padding: 15px 0;
  background-color: $bg-grey;
}

.ranking {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.ranking-item {
  flex: 1;
  position: relative;
}

.ranking-box {
  display: flex;
  flex-direction: column;
  max-width: 181px;
  position: relative;
}

.ranking-number {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  text-indent: -2px;
  z-index: 1;
  background: $bg-header;
  color: $white;
}

.ranking-box-img {
  height: 100px;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
  }
}

.ranking-content {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  background-color: $white;
}

.ranking-box-title {
  font-weight: normal;
  font-size: 13px;
}

.ranking-box-time {
  color: $ranking-box;
  font-size: 12px;
}

.clock-icon {
  width: 15px;
  height: 15px;
  vertical-align: -3px;
}

.ranking-box-company {
  color: $ranking-box;
  font-size: 13px;
}

.ranking-box-PVUU {
  color: $ranking-box;
  font-size: 13px;
}
