@charset "UTF-8";
@import "../config/theme";
@import "../mixin/mixin";
.main {
  height: 803px;
  padding: 35px 0;
  display: flex;
}

.main-content {
  display: inline-block;
  width: 779px;
  height: 733px;

  &__list-title {
    font-size: 24px;
    font-weight: bold;
  }

  &__wrap {
    margin-top: 15px;
    height: 670px;
  }

  &__articles {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    height: 590px;
  }

  &__box {
    width: 380px;
    height: 118px;
    border-bottom: 1px solid #e4e4e4;
  }

  &__link {
    text-decoration: none;
    color: $black;
  }

  &__link:hover {
    @include hover-animation();
  }

  &__box-wrap {
    padding: 15px 0;
  }

  &__box-title\&img {
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__box-title {
    flex: 1;
    line-height: 1.5;
    margin-right: 10px;
  }

  &__box-img {
    height: 66px;
    width: 100px;

    img {
      display: block;
      object-position: center;
      object-fit: cover;
    }
  }

  &__box-meta {
    display: flex;
    position: relative;
    margin-top: 5px;
  }

  &__box-clock {
    color: $ranking-box;
    font-size: 12px;
  }

  &__box-clock-icon {
    width: 15px;
    height: 15px;
    vertical-align: -3px;
  }

  &__box-company {
    margin-left: 10px;
    padding-top: 2px;
    font-size: 13px;
    font-weight: normal;
    color: #a2a2a2;
  }

  &__box__seemore-wrap {
    width: 100%;
    text-align: center;
    padding-top: 32px;
  }

  &__box__button {
    width: 110px;
    height: 38px;
    padding: 10px 15px;
    border-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: $white;
    background-color: #3081c9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  }
}
