@charset "UTF-8";

@import "../config/theme";

/* main */
.main-content {
  display: inline-block;
  width: 779px;
  height: 803px;
  padding: 35px 0;

  &__list-title {
    font-size: 24px;
    font-weight: bold;
  }

  &__wrap {
    margin-top: 15px;
    height: 660px;
  }

  &__articles {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    height: 590px;
  }

  &__box {
    width: 380px;
    height: 118px;
    border-bottom: 1px solid #e4e4e4;
  }

  &__link {
    text-decoration: none;
    color: $black;
  }

  &__box-wrap {
    height: 100%;
    padding: 15px 0;
  }

  &__box-title\&img {
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__box-title {
    flex: 1;
    line-height: 1.5;
    margin-right: 10px;
  }

  &__box-img {
    height: 66px;
    width: 100px;

    img {
      display: block;
      object-position: center;
      object-fit: cover;
    }
  }

  &__box-meta {
    display: flex;
    position: relative;
    margin-top: 5px;
  }

  &__box-clock {
    color: $ranking-box;
    font-size: 12px;
  }

  &__box-clock-icon {
    width: 15px;
    height: 15px;
    vertical-align: -3px;
  }

  &__box-company {
    margin-left: 10px;
    padding-top: 2px;
    font-size: 13px;
    font-weight: normal;
    color: #a2a2a2;
  }

  &__see-more-wrap {
    width: 100%;
    text-align: center;
    padding-top: 32px;
  }

  &__button {
    width: 110px;
    height: 38px;
    padding: 10px 15px;
    border-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: $white;
    background-color: #3081c9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  }

}

.keyword-title {
  font-size: 18px;
  font-weight: bold;
}

.side {
  list-style: none;
  float: right;
  width: 312px;
  height: 733px;
}

.keywords {
  width: 100%;
  height: 115px;
  border-bottom: 1px solid #e4e4e4;
}

.keywords-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  li {
    background-color: #f1f1f1;
    border-radius: 11px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  .see-more-key {
    background-color: var(--white);
    border: 1px solid #f1f1f1;
  }
}

/* end main */
