@charset "UTF-8";

/* common */
:root {
    --bg-header:  #24436F;
    --bg-ranking: #F2F2F2;
    --bg-white:   #FFFFFF;
    --black:      #3B3B3B;
    --white:      #FFFFFF;
}
body {
    font-size: 14px;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    margin: 0;
    color: var(--black);
    background: var(--white);
}
*, *::before, *::after {
    box-sizing: border-box;
}
.wrapper {
    padding: 40px 0 103px;
}
.wrapper--top {
    background: var(--bg-white);
}

.container {
    width: 1126px;
    margin: 0 auto;
}
.container-header {
    display: flex;
    justify-content: space-between;
}

/* header */
.header {
    height: 75px;
    padding-top: 10px;
    background-color: var(--bg-header);
}
.header-flame {
    display: flex;
    align-items: center;
}
.logo {
    width: 122px;
    height: 22px;
    margin-left: -3px;
    margin-right: 18px;
}
.header-text {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    color: #bfc9d7;
}
.header-release {
    display: flex;
    height: 30px;
    align-items: center;
}
.header-release-list {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    background: #345584;
    border-radius: 4px;
}
.header-release-list > li + li {
    border-left: 1px solid #BFC9D7;
}
.header-release-list li a {
    font-size: 13px;
    color: var(--white);
    text-decoration: none;
}

.header-search-bar {
    display: flex;
}
.header-search-bar input[type="text"] {
    height: 30px;
    border: none;
    width: 258px;
    padding: 2px 15px;
    line-height: 30px;
    font-size: 13px;
    border-radius: 4px 0 0 4px;
}
.header-search-bar button {
    width: 30px;
    height: 30px;
    border: none;
    background: #3081C9;
    border-radius: 0 4px 4px 0;
}

.main-header-list {
    display: flex;
    padding: 8px 0;
    margin-left: -5px;
    color: var(--white);
}
.main-header-list > li + li {
    border-left: 1px solid #BFC9D7;
}
.main-header-list a {
    color: var(--white);
    text-decoration: none;
}

/* nav */
.nav {
    height: 36px;
    background-color: var(--bg-white);
    border-bottom: 1px solid #E4E4E4;
}
.category-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ranking {
    width: 100%;
    height: 263px;
}

.wrapper {
    width: 1126px;
    margin: 30px auto 40px;
}

.main {
    display: block;
    float: left;
    width: 779px;
}

.side {
    float: right;
    width: 312px;
}

.footer {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/*
.header, .header-container, .category-header, .ranking, .main, .side, .footer {
    border: 1px solid #aaa;
    background-color: #ccc;
}

.header, .footer {
    height: 100px;
}
.main, .side {
    height: 500px;
}
*/